project1_pid_copilot/data/pid2graph/*.graphml
project1_pid_copilot/data/pid2graph/PID2Graph/
project1_pid_copilot/data/pid2graph/*.zip
project1_pid_copilot/data/pid_symbols/
__pycache__/
**/__pycache__/
.coverage
*.pyc
